@model ProjetoExercitoMVC.Models.ViewModel.MilitarViewModel

@{
    ViewData["Title"] = "Militares";
}
<h2> Cadastrar Militar</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CriarNovo">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DataIngresso" class="control-label"></label>
                <input asp-for="DataIngresso" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Graduacao" class="control-label"></label>
                <input asp-for="Graduacao" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FuncaoExercida" class="control-label"></label>
                <input asp-for="FuncaoExercida" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CompanhiaId" class="control-label"></label>
                <select asp-for="CompanhiaId" asp-items="@(new SelectList(Model.Companhias, "Id", "Nome"))" class="form-control"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
