@model ProjetoExercitoMVC.Models.ViewModel.MilitarViewModel

@{
    ViewData["Title"] = "Editar Militar";
}
<h2> @ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <input type="hidden" asp-for="Militar.Id" />
            <div class="form-group">
                <label asp-for="Militar.Nome" class="control-label"></label>
                <input asp-for="Militar.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Militar.DataIngresso" class="control-label"></label>
                <input asp-for="Militar.DataIngresso" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Militar.Graduacao" class="control-label"></label>
                <input asp-for="Militar.Graduacao" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Militar.FuncaoExercida" class="control-label"></label>
                <input asp-for="Militar.FuncaoExercida" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Militar.CompanhiaId" class="control-label"></label>
                <select asp-for="Militar.CompanhiaId" asp-items="@(new SelectList(Model.Companhias, "Id", "Nome"))" class="form-control"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
