@model ProjetoExercitoMVC.Models.ViewModel.CompanhiaFormViewModel
@{
    ViewData["Title"] = "Criar Novo";
}
<h2>Criar Companhia</h2>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CriarNovo">
            <div class="form-group">
                <label asp-for="Companhia.Nome" class="control-label"></label>
                <input asp-for="Companhia.Nome" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


