@model ProjetoExercitoMVC.Models.Entity.Companhia
@{
    ViewData["Title"] = "Excluir Companhia";
}
<h2>@ViewData["Title"]</h2>
<hr/>

<h3>Tem certeza que deseja excluir @Html.DisplayFor(model => model.Nome)?</h3>
<br />
<div>
    <form asp-action="Deletar">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>





